@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
body {
  background-color: #f2fdf5;
  background-image: url("./images/background.svg");
  background-attachment: fixed;
  background-size: cover;
}
.App {
  text-align: center;
}
.loop-button {
  width: 9rem;
  height: 9rem;
  margin-top: 1rem;
}
.start-stop-button {
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  margin: 1rem;
}
.bi {
  font-size: 3rem;
}
